---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Pomotto | Contact us";
const pageDescription =
	"A pomodoro timer for doers. Maintain laser focus and preserve energy throughout the day";
const pageUrl = "https://www.pomotto.app";
const pageImage = "https:/www.pomotto.app/images/pomotto.jpg";
---

<Layout
	title={pageTitle}
	description={pageDescription}
	url={pageUrl}
	image={pageImage}
>
	<section class="mt-32 mb-10 bg-white">
		<div class="container mx-auto w-11/12 lg:w-3/12">
			<div class="mt-10 text-justify">
				<h1 class="text-4xl font-bold">Contact us</h1>
				<script src="https://tally.so/widgets/embed.js"></script>

				<iframe
					data-tally-src="https://tally.so/embed/n0M0J9?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
					loading="lazy"
					width="100%"
					height="100"
					frameborder="0"
					marginheight="0"
					marginwidth="0"
					title="Contact"></iframe>
			</div>
		</div>
	</section>
</Layout>
