---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Pomotto | Privacy policy";
const pageDescription =
  "A pomodoro timer for doers. Maintain laser focus and preserve energy throughout the day";
const pageUrl = "https://www.pomotto.app";
const pageImage = "https://www.pomotto.app/images/pomotto.jpg";
---

<Layout
  title={pageTitle}
  description={pageDescription}
  url={pageUrl}
  image={pageImage}
>
  <section class="mt-32 mb-10 bg-white">
    <div class="container mx-auto w-11/12 lg:w-6/12">
      <h1 class="text-4xl font-bold text-gray-900 mb-8 text-justify">
        Privacy Policy
      </h1>
      <p class="mb-6 text-lg">
        By using this website and macOS application, you are accepting the terms
        of this Privacy Policy. It was last updated in <b>June 2024</b>.
      </p>
      <p class="mb-6 text-lg">
        At Pomotto, we are committed to protecting your privacy. This Privacy
        Policy explains how our macOS application handles your data.
      </p>
      <h2 class="text-2xl font-semibold text-gray-800 mt-8 mb-4">
        1. No Data Collection
      </h2>
      <p class="mb-6 text-lg">
        Our application does not collect any personal data or usage data. We do
        not require you to provide any personal information to use our
        application.
      </p>
      <h2 class="text-2xl font-semibold text-gray-800 mt-8 mb-4">
        2. Offline-First Application
      </h2>
      <p class="mb-6 text-lg">
        Our application is designed to work offline-first, meaning that it does
        not require an internet connection to function optimally. All data is
        stored locally on your device and is not shared with any third-party.
      </p>
      <h2 class="text-2xl font-semibold text-gray-800 mt-8 mb-4">
        3. Third-Party Services
      </h2>
      <p class="mb-6 text-lg">
        Our application does not use any third-party services that collect data.
      </p>
      <h2 class="text-2xl font-semibold text-gray-800 mt-8 mb-4">
        4. Changes to This Privacy Policy
      </h2>
      <p class="mb-6 text-lg">
        We may update our Privacy Policy from time to time. We will notify you
        of any changes by posting the new Privacy Policy on this page.
      </p>
      <p class="mb-6 text-lg">This policy is effective as of June 2024.</p>
      <h2 class="text-2xl font-semibold text-gray-800 mt-8 mb-4">
        5. Contact Us
      </h2>
      <p class="mb-6 text-lg">
        If you have any questions or suggestions about our Privacy Policy, do
        not hesitate to contact us <a
          class="mt-8 underline font-medium"
          href="/contact">here.</a
        >
      </p>

      <div class="mt-10 text-justify">
        <a class="mt-8 underline font-bold" href="/">Go back to the homepage</a>
      </div>
    </div>
  </section>
</Layout>
