---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Pomotto | Thank you!";
const pageDescription =
  "A pomodoro timer for  the hyper-focused. Harness your laser-sharp focus and sustain energy throughout the day. Minimalist, distraction-free, and designed for deep work.";
const pageUrl = "https://www.pomotto.app";
const pageImage = "https://www.pomotto.app/images/pomotto-og-image.png";
---

<Layout
  title={pageTitle}
  description={pageDescription}
  url={pageUrl}
  image={pageImage}
>
  <section class="mt-32 mb-10 bg-white">
    <div class="container mx-auto w-8/12">
      <div class="mt-10 text-justify">
        <h1 class="text-4xl font-bold">Success!</h1>
        <p class="mt-4">
          Thank you for reaching out to us. We will get back to you as soon as
          possible.
        </p>
      </div>
    </div>
  </section></Layout
>
