---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thank you">
	<section class="text-center py-28">
		<div class="container mx-auto px-4">
			<p class="mt-8 text-2xl sm:text-2xl leading-8">
				Thank you for your interest in Pomotto.
			</p>
			<p>
				Your message has been received and we will get back to you as soon as
				possible.
			</p>
			<a class="mt-8 underline font-bold" href="/">Go back to the homepage</a>
		</div>
	</section>
</Layout>
