---

---

<section class="text-center pt-28">
  <div class="container mx-auto px-4">
    <h1
      class="text-4xl sm:text-6xl font-semibold uppercase tracking-widest text-shadow"
    >
      Pomotto
    </h1>
    <h2 class="mt-8 text-2xl sm:text-2xl leading-8">
      Sustainable work sessions.
    </h2>
    <h2 class="mb-8 text-2xl sm:text-2xl leading-8">
      Get things done & preserve your energy.
    </h2>
    <div
      class="bg-white shadow-md p-2 inline-block rounded-lg border border-gray-200 mt-6"
    >
      <img
        src="/images/pomotto.jpg"
        alt="Timer"
        class="w-full max-w-64 mx-auto rounded-md"
      />
    </div>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a
        href="#tally-open=n0M0J9&tally-layout=modal&tally-hide-title=1&tally-auto-close=0"
        class="rounded-md bg-black px-5 py-3 text-md font-semibold text-white shadow-sm hover:bg-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-800"
        >Try the beta</a
      >
    </div>
  </div>
</section>
