<style>
 .highlight {
   position: relative;
   display: inline-block;
 }
 .highlight::before {
   content: "";
   position: absolute;
   top: 0.2em;
   left: 0;
   right: 0;
   bottom: 0.2em;
   background: #04f0f8df;
   z-index: -1;
   border-radius: 0.2em;
   transform: rotate(-2deg);
 }
</style>

<script>
 let dialog;
 document.addEventListener('DOMContentLoaded', () => {
   dialog = document.getElementById('videoDialog');
  document.querySelectorAll('.watchDemo').forEach(element => {
    element.addEventListener('click', (e) => {
     e.preventDefault();
     dialog.showModal();
    });
    });
 });
</script>

<section class="flex-grow flex flex-col items-center justify-center text-center md:pt-24">
 <div class="container mx-auto px-4">
   <h1 class="text-4xl sm:text-6xl font-semibold uppercase tracking-widest text-shadow">
     Pomotto
   </h1>
   <h2 class="mt-8 text-2xl text-3xl leading-8">
     A <span class="highlight">pomodoro</span> timer for the <span class="highlight">hyper-focused</span>
   </h2>
   <h2 class="mb-8 text-2xl text-xl leading-8">
     Harness your <span class="highlight">laser-sharp focus</span> and <span class="highlight">sustain energy</span> throughout the day
   </h2>
   <div class="bg-white shadow-md p-2 inline-block rounded-lg border border-gray-200 mt-6">
      <a href="#" class="watchDemo font-semibold transition-colors mb-10">
        <img src="/images/pomotto.jpg" alt="Timer" class="w-48 lg:w-64 mx-auto rounded-md" />
      </a>
     
   </div>

   <div class="order-1 lg:order-2 mt-5 flex flex-col items-center justify-center gap-4">
      <a href="#" class="watchDemo text-xl font-semibold transition-colors mb-5">
       Watch a demo →
     </a>
     <a href="https://apps.apple.com/us/app/pomotto/id6504365928?mt=12">
       <img src="/images/AppStoreDownload-LG.svg" alt="Download on the App Store" class="w-full max-w-64 mx-auto rounded-md text-shadow" />
     </a>
   </div>

   <dialog id="videoDialog" class="w-full max-w-4xl p-4 rounded-lg backdrop:bg-gray-800/60">
     <div class="relative">
       <button 
         onclick="document.getElementById('videoDialog').close()"
         class="absolute -top-2 -right-2 bg-white rounded-full p-1 shadow-lg hover:bg-gray-100"
       >
         <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
           <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
         </svg>
       </button>
       <video controls class="w-full rounded-lg">
         <source src="/videos/demo.mp4" type="video/mp4">
       </video>
     </div>
   </dialog>

   <div class="order-2 lg:order-1 mt-24 mb-8 w-full">
     <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
       <div class="feature-item bg-white p-4 rounded-lg max-w-xs mx-auto">
         <h4 class="text-xl font-semibold mb-2">Sound Reminders</h4>
         <p class="text-gray-700">Gentle, non-intrusive sounds pull you out of deep focus, ensuring smooth transitions between work and breaks</p>
       </div>
       <div class="feature-item bg-white p-4 rounded-lg max-w-xs mx-auto">
         <h4 class="text-xl font-semibold mb-2">Visual Cues</h4>
         <p class="text-gray-700">Subtle screen flashes mark session boundaries, keeping you on track without breaking your flow</p>
       </div>
       <div class="feature-item bg-white p-4 rounded-lg max-w-xs mx-auto">
         <h4 class="text-xl font-semibold mb-2">Do Not Disturb Integration</h4>
         <p class="text-gray-700">Leverage Mac’s Do Not Disturb to block distractions while allowing critical notifications</p>
       </div>
     </div>
   </div>
 </div>
 
<div class="mt-12 mb-8 w-full">
  <h3 class="text-2xl font-semibold text-center mb-6">Frequently Asked Questions</h3>
  <div class="max-w-3xl mx-auto">
    <details class="faq-item bg-white p-2 rounded-lg ">
      <summary class="cursor-pointer text-lg font-medium">How is Pomotto different from other Pomodoro apps?</summary>
      <p class="mt-2 text-gray-500 max-w-2xl mx-auto leading-relaxed">Pomotto’s Sound and Visual Reminders prompt regular breaks without a visible timer—yes, that’s intentional. With seamless Mac Do Not Disturb integration, you can customize notifications (e.g., receive calendar alerts for meetings or none) and stay hyper-focused without distraction.</p>
    </details>

    <details class="faq-item bg-white p-2 rounded-lg ">
      <summary class="cursor-pointer text-lg font-medium">Is Pomotto only for Mac users?</summary>
      <p class="mt-2 text-gray-500">Yes, Pomotto is designed specifically for Mac users. There's no plan to support other Operating Systems.</p>
    </details>
    
    <details class="faq-item bg-white p-2 rounded-lg ">
      <summary class="cursor-pointer text-lg font-medium">What if I don’t like forced breaks?</summary>
      <p class="mt-2 text-gray-500">I recommend you to read why taking breaks it's good for your productivity and energy as counterintuitive as it sounds. <a class="text-gray-900 font-medium underline" target="_blank" href="/why-pomotto">This</a> is a good starting point.</p>
    </details>
  </div>
</div>

</section>
